*{margin:0;
  padding:0;
  list-style: none;
}
a{text-decoration: none;}
/* 第一个背景图片 */
#on{background:#000;}
/* 第二个背景图片 */
#two{background:#000;}
/* 第三个背景图片 */
#four{background:#e1e4e7}
/* 第四个背景图片 */
#five{background:#35393f;}
/* 第五个 */
#six{background:#e1e4e7;}
/* 第六个 */
#seven{background: #01c2c3;}
/* 第七个 */
#id7{background: #e1e4e7;}
/* 第八个 */
#eight{background:#000;}
/* 外面的大div */
#center{width:100%;}
@media (min-width:1000px){
  /* 第一个 */
  .on{
    position:relative;
    width:1024px;
    height:90px;
    margin:0 auto;
  }
  /* 第一个图片的位置 */
  .on>img{
    width:50px;
    height:50px;
    display:block;
    line-height:90px;
    padding-top:20px;
  }
  /* tite 的样式和位置 */
  .on>ul{
    position:absolute;
    display:flex;
    width: 300px;
    right: 0;
    justify-content:space-between;
    top:32px;
  }
  /* a标签的样式和自豪大小 以及背景图片 */
  .on>ul>li>a{
   color:#fff;
   font-size:20px;
  }
  /* 第二个div的答题样式 */
  .two{
    position:relative;
    width:1024px;
    height:650px;
    margin:0 auto;
  }
  /* 手机图片的样式 */
  .two>img{
    width:450px;
    height:410px;
    position:absolute;
    bottom:0px;right: 0px; 
  }
  /* div的 编辑和字体的颜色 */
  .two>#d1{
    position:absolute;
    width:512px;
    height:368px;
    top:190px;
    color:#fff;
  }
  /* #d1下的图片 */
  .two>#d1>img{
    position:absolute;
    width:150px;
    height:150px;
    bottom: 0px;
    left:250px;
  }
  /* #d1下的p1样式 */
  .two>#d1>span{
    font-size:80px;
    height:0px;
  }
  /* 运动x潮流x装备*/
  .two>#d1>h1{
    font-size:40px;
  }
/* ul的样式 */
.two>#d1>ul{
  position: absolute;
  bottom: 0px;
}
/* li中的样式和宽高 */
  .two>#d1>ul>li{
    width:214px;
    height:61px;
    border:1px solid #fff;
    text-align: center;
    line-height: 61px;
  }
  /* a标签的样式 字号 颜色 */
  .two>#d1>ul>li>a{
    color:#fff;
    font-size:30px;
  }
  /* 与上边的margin*/
  .two>#d1>ul>.l1{
    margin-top:24px;
  }
  /* 第三的大体样式 */
  .four{
    position:relative;
    width:1024px;
    height:767px;
    margin:0 auto;
  }
  /* 第三个图片的大体位置 */
  .four>img{
    width:410px;
    height:615px;
    position:absolute;
    right:0px;
    bottom: 0px;;
  }
  /* 里面的样式 */
  .four>#d1{
    width:450px;
    height:450px;
  }
  /* title的字号 大小样式和宽高 */
  .four>#d1>h1{
    font-size: 60px;
    padding-top: 160px;
    font-weight: 100;
    letter-spacing: 30px;/*字母中的间距*/
    line-height: 80px;
    text-align: left;
    margin-bottom:20px;
  }
  /* 和上面的样式的边距 */
  .four>#d1>h2{
    font-size: 30px;
    line-height: 55px;
    padding-top:14px;
    color: #282a33;
  }
  /* 第四个大体的样式 */
  .five{
    position:relative;
    width:1024px;
    height:767px;
    margin:0 auto;
  }
  /* 右边的div的位置 文本框和颜色 */
  .five>#d1{
     width:450px;
     height:505px;
     position:absolute;
     right:0px;
     color:#fff;
  }
  /* 字体的间距颜色 和文本框 行距 */
  .five>#d1>h1{
    font-size: 60px;
    padding-top: 160px;
    font-weight: 100;
    letter-spacing: 30px;
    line-height: 80px;
    text-align: left;
    margin-bottom:20px;
  }
  /* 下面的样式 行高和字体样式 */
  .five>#d1>h2{
    font-size: 30px;
    line-height: 55px;
    padding-top:14px;
  }
  /* 图片位置 */
  .five>img{
    width:410px;
    height:615px;
    position:absolute;
    bottom:0px;
  }
  /* 第五个 */
  .six{
    position:relative;
    width:1024px;
    height:767px;
    margin:0 auto;
  }
  /* 大体位置 */
  .six>#d1{
    width:450px;
    height:505px;
  }
  /* 字号大小 颜色 和距离 */
  .six>#d1>h1{
    font-size: 60px;
    padding-top: 160px;
    font-weight: 100;
    letter-spacing: 30px;
    line-height: 80px;
    text-align: left;
    margin-bottom:20px;
  }
  /* 上边距和字号大小 字体之间的间距 */
  .six>#d1>h2{
    font-size: 30px;
    line-height: 55px;
    padding-top:14px;
  }
  /*图片的位置 */
  .six>img{
    width:410px;
    height:615px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  /* 第六个 */
  .seven{
    position:relative;
    width:1024px;
    height:767px;
    margin:0 auto;
  }
  /* div6下的样式 */
  .seven>#d1{
    width:450px;
    height:450px;
    color:#fff;
    position: absolute;
    right: 0px;
  }
  /* 字体样式 */
  .seven>#d1>h1{
    font-size: 60px;
    padding-top: 160px;
    font-weight: 100;
    letter-spacing: 30px;
    line-height: 80px;
    text-align: left;
    margin-bottom:20px;
  }
  .seven>#d1>h2{
    font-size: 30px;
    line-height: 55px;
    padding-top:14px;
  }
  /* 图片位置 */
  .seven>img{
    position: absolute;
    width:410px;
    height:615px;
    bottom: 0px;
  }
  /* 第七个 */
  .id7{
    position:relative;
    width:1024px;
    height:740px;
    margin:0 auto;
  }
  .id7>#d1{
    width:450px;
    height:450px;
    color:#000;
  }
  .id7>#d1>h1{
    font-size: 60px;
    padding-top: 160px;
    font-weight: 100;
    letter-spacing: 30px;
    line-height: 80px;
    text-align: left;
    margin-bottom:20px;
  }
  .id7>#d1>h2{
    font-size: 30px;
    line-height: 55px;
    padding-top:14px;
  }
  .id7>img{
    width:410px;
    height:615px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    right: 0px;
  }
  /* 第八个 */
  .eight{
    position: relative;
    text-align: center;
    color:#fff;
    margin:0 auto;
    padding:50px 0px 20px 0px;
  }
  .eight>#p1{
    font-size: 60px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 30px;
    line-height: 163px;
  }
  .eight>#p2{
  margin-top:40px;
  margin-bottom:15px;
  font-weight: lighter;
  }
  .eight>#p3{
    margin-top: 20px;
  }
  .eight>#p4>a>img{
    width:40px;
    height:20px;
  }
  .eight2{
    color:#f00;
    display:none;
  }
}
/* 小屏的样式 */
@media (max-width:999px){
  /* 总体居中 */
  #center{
    text-align: center;
  }
  /* on 的图片样式 */
  .on>img{
    width:60px;
    height:60px;
    padding-top:60px;
  }
  /* 隐藏 */
  .on>ul{display: none;}
  /* two 的样式 */
  .two{
    width:87.5%;
    margin: 0 auto;
    color:#fff;
    position: relative;
  }
  /* two span 的字样 */
 .two>#d1{
   width:50%; 
   margin:0 auto;
   position: relative;
   padding:15px 0px 0px 0px;
 }
 .two>#d1>span{
   font-size: 37px;
   line-height:15px;
   padding:0 4px;
   vertical-align: middle;
   display: inline-block;
 }
 .two>#d1>h1{
  font-size: 16px;
  margin-top: 12px;
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  margin:25px 0px 45px 0px;
 }
 .two>#d1>ul{
    width:70px;
    margin:0px -80px 0px 200px;
 }
 .two>#d1>ul>li{
   width:70px;
   height:30px;
 }
 .two>#d1>ul>.l1{
  margin:7px 0px 0px 0px;
 }
 .two>#d1>ul>li>a{
   color:#fff;
 }
 .two>#d1>img{
   width:73px;
   height:73px;
   position: absolute;
   bottom:0px;
   left: 105px;
 }
 .two>img{
   width:62.5%;
   margin:40px 0px 0px 0px;
 }
 /* 第三个的样式 */
 .four>#d1{
   width:50%;
   margin:0 auto;
   position: relative;
 }
 .four>#d1>h1{
   padding-top: 50px;
  font-size: 32px;
  color: #282a33;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 15px;
  line-height: 40px;
 }
 .four>#d1>h1>.s1{
    margin:0px -25px 0px 0px;
 }
 .four>#d1>img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  width: 40px;
 }
 .four>#d1>h2{
  margin-top:20px;
  font-size: 15px;
  color: #282a33;
 }
 .four>img{
   padding-top:30px;
   width:62.5%;
 }
 /* 第四个的样式 */
 .five>#d1{
   width:50%;
   margin:0 auto;
   position: relative;
 }
 .five>#d1>h1{
  padding-top: 50px;
  font-size: 32px;
  color: #fff;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 15px;
  line-height: 40px;
 }
 .five>#d1>h1>span{
   margin-left: 15px;
 }
 .five>#d1>img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  width: 40px;
 }
 .five>#d1>h2{
  margin-top:20px;
  font-size: 15px;
  color: #ffffff;
 }
 .five>img{
  padding-top:30px;
   width:62.5%;
 }
 /* 第五个的位置 */
 .six>#d1{
   width:50%;
   margin: 0 auto;
   position:relative;
 }
 .six>#d1>h1{
  padding-top: 50px;
  font-size: 32px;
  color: #000;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 15px;
  line-height: 40px;
 }
 .six>#d1>h1>span{
  margin-left: 15px;
 }
 .six>#d1>img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  width: 40px;
 }
 .six>#d1>h2{
  margin-top:20px;
  font-size: 15px;
  color: #000;
 }
 .six>img{
  padding-top:30px;
   width:62.5%;
 }
 /* 第六个的位置 */
 .seven>#d1{
   width:50%;
   margin:0 auto;
   position: relative;
 }
 .seven>#d1>h1{
  padding-top: 50px;
  font-size: 32px;
  color: #ffff;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 15px;
  line-height: 40px;
 }
 .seven>#d1>h1>span{
  margin-left:22px;
 }
 .seven>#d1>img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  width: 40px;
 }
 .seven>#d1>h2{
  margin-top:20px;
  font-size: 15px;
  color: #fff;
 }
 .seven>img{
  padding-top:30px;
   width:62.5%;
 }
 /* 第七个的位置 */
 .id7>#d1{
   width:50%;
   margin:0 auto;
   position: relative;
 }
 .id7>#d1>h1{
  padding-top: 50px;
  font-size: 32px;
  color: #000;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 15px;
  line-height: 40px;
 }
 .id7>#d1>h1>span{
  margin-left:22px;
 }
 .id7>#d1>h2{
  margin-top:20px;
  font-size: 15px;
  color: #000;
 }
 .id7>img{
  padding-top:30px;
   width:62.5%;
 }
 /* 第八个的样式 */
 .eight{
   display: none;
 }
 .eight2{
   color:#fff;
 }
 .eight2 a{
   color:#fff;
 }
 .eight2>#a1>a{
   color:#16a5af;
 }
 .eight2>#a1{
  margin-bottom:25px;
 }
 .eight2>.a2{
  width: 100%;
  margin-top: 130px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
 }
 .eight2>.a3{
   margin-top:20px;
 }
 .eight2>.a3 img{
   width:40px;
   height:20px;
 }
 .eight2>h1{
   color:#fff;
   font-size: 18px;
   letter-spacing: 40px;
   line-height: 44px;
   padding-left: 40px;
 }
 .eight2>h2{
  color:#fff;
   font-size: 44px;
    letter-spacing: 0px;
    line-height: 44px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    margin-bottom: 75px;
 }
/* 修改了一个项目 */
}